@keyframes bgDisco {

  0% {
    background-color: $color-green;
  }

  33% {
    background-color: $color-green;
  }

  34% {
    background-color: $color-pink;
  }

  66% {
    background-color: $color-pink;
  }

  67% {
    background-color: $color-blue;
  }

  100% {
    background-color: $color-blue;
  }
}
