@keyframes bgDisco {

  0% {
    background-color: $color-green;
    margin-top: 0;
  }

  25% {
    background-color: $color-green;
  }

  26% {
    background-color: $color-pink;
  }

  50% {
    background-color: $color-pink;
    margin-top: 0;
  }

  51% {
    background-color: $color-blue;
  }

  75% {
    background-color: $color-blue;
  }

  76% {
    margin-top: 0;
  }

  100% {
    margin-top: -100vh;
  }
}

@keyframes moveUp {

  0% {
    margin-top: 0;
  }

  100% {
    margin-top: -100vh;
  }
}
