.loading {
  animation-name: bgDisco;
  animation-duration: 1500ms;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  // align-items: stretch;
  flex-direction: column;
  // flex-wrap: wrap;
  background: $color-white;
  padding: 5rem;
  margin-top: -100vh;

  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  img {
    width: 15rem;
    height: auto;
  }
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

.content {

  margin: 10rem auto;
  max-width: 84rem;

  header {

    .name {
      font-weight: 500;

      h1:nth-of-type(2) {
        display: inline-block;
      }

      h1 {
        font-weight: 500;
      }

      img {
        display: inline-block;
        height: 4.8rem;
        width: auto;
      }
    }
  }

  .contact {
    margin: 10rem 0;
    font-weight: 500;
    font-size: 3.6rem;

    a {
      text-decoration: none;
    }

    .contact-mail {
      color: $color-black;
      transition: all .5s;
      text-decoration: underline;

      &:hover {
        color: $color-pink;
      }
    }
  }

  .links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    // margin-left: -5rem;

    // hack to align single item on row to the left

    &::after {
      content: '';
      flex: auto;
    }
  }

  .link {
    border-radius: 1rem;
    border-width: .4rem;
    border-style: solid;
    // box-shadow: none;
    transition: all .5s;
    text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    width: 40rem;
    margin-top: 5rem;

    * {
      // margin-right: 3rem;
    }

    img {
      width: auto;
      height: 5rem;
    }

    &:nth-child(odd) {
      margin-right: 4rem;
    }
  }

  .work {

    h1 {
      color: $color-green;
    }

    .youtube img {
      height: 3rem;
      width: auto;
    }
  }

  .social {

    margin-top: 10rem;

    h1 {
      color: $color-blue;
    }

    p {
      font-size: 2.4rem;
      font-weight: 500;
    }

    .link {

      padding-top: 3rem;
      padding-bottom: 3rem;

      img {
        width: auto;
        height: 6rem;
      }
    }
  }
}

footer {
  max-width: 84rem;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0 auto 4rem;
}
