//COLORS
$color-black: #002A55;
$color-white: #FFFFFF;
$color-blue: #53B3FF;
$color-green: #59EA92;
$color-pink: #FB8181;
$color-linkedin: #0084BF;
$color-github: #171515;
$color-youtube: #CD201F;
$color-twitter: #55ACEE;
$color-instagram: #CD2E94;
$color-snapchat: #FCFA00;
$color-lastfm: #B80610;

//SCREEN SIZES
$break-large: 1500px;
$break-medium: 1024px;
$break-small: 800px;

//FONT SIZES
//These font sizes are based upon a 3:4, or .75 scale. Each font size is approximately 75% the size of the larger font size. Please think carefully about using font sizes smaller than 16px as these are difficult to read on smaller screens.
$font-small: 16px;
$font-medium: 21px;
$font-big: 28px;
$font-bigger: 37px;
$font-huge: 50px;
$font-xl: 66px;
$font-xxl: 88px;

//BACKGROUND WIDTHS
$bg-width1: 150vw;
$bg-width2: 0;
$bg-width1: 100px;
$bg-width2: 2 * $bg-width1;
$bg-width3: 3 * $bg-width1;
$bg-mobile-width1: 50px;
$bg-mobile-width2: 2 * $bg-mobile-width1;
$bg-mobile-width3: 3 * $bg-mobile-width1;
