footer {
   margin: 30px 0 10px 0;
   height: 45px;
   // font-weight: 400;

   .footer-link, p {
      font-size: $font-small;
      width: 100%;
      text-align: center;
      height: 1.1em;
      color: $color-footer;
      color: rgba($color-footer, .53);
      // color: $color-main;
      // font-weight: 700;
   }

   .footer-link{
      text-decoration: none;
   }
}
