body,
html {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 2.5vw;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
  transform-style: preserve-3d;
  filter: blur(0);
}

html {
  box-sizing: border-box;
  height: 100vh;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  color: $color-black;
}

::selection {
  background: $color-white;
}
