a {
  color: $color-blue;
}

p {
  margin-top: 10px;
  margin-bottom: 1em;
}

.site {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: repeating-linear-gradient(120deg, $color-pink, $color-pink $bg-width1, $color-blue $bg-width1, $color-blue $bg-width2, $color-yellow $bg-width2, $color-yellow $bg-width3);
  // animation: backgroundMover 6s linear 2s infinite alternate;
  // animation: bgDisco 4s linear 0s infinite;


  &:hover,
  &:active {
    animation-play-state: paused;
  }

  @media screen and (max-width: $break-medium) {
    animation-play-state: paused;
    background-image: repeating-linear-gradient(120deg, $color-pink, $color-pink $bg-mobile-width1, $color-blue $bg-mobile-width1, $color-blue $bg-mobile-width2, $color-yellow $bg-mobile-width2, $color-yellow $bg-mobile-width3);
  }
}

.site-content {
  position: relative;
  background-color: $color-yellow;
  padding: .5em;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba($color-black, .15);
  transition: all .6s;

  &:hover,
  &:active {
    transform: scale(1.02, 1.02);
  }

  @media screen and (max-width: $break-small) {
    font-size: $font-medium;
    width: 100%;
    border-radius: 0;
  }
}

//smooth box-shadow
.site-content::after {
  content: "";
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba($color-black, .3);
  opacity: 0;
  transition: all .6s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.site-content:hover:after {
  opacity: 1;
}

.site-links a {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
