a {
  color: $color-blue;
}

p {
  margin-top: 10px;
  margin-bottom: 1em;
}

.site {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // background-image: repeating-linear-gradient(120deg, $color-pink, $color-pink 45px, $color-blue 45px, $color-blue 90px, $color-yellow 90px, $color-yellow 135px);
  animation: backgroundMover 16s linear 0s infinite alternate;

  @media screen and (max-width: $break-medium) {
    animation-play-state: paused;
  }
}

.site-content {
  background-color: $color-yellow;
  padding: .5em;
  box-shadow: 0 1px 2px rgba($color-black, .15);

  @media screen and (max-width: $break-small) {
    font-size: $font-medium;
    width: 100%;
  }
}

.site-links a {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
