a {
  border-bottom: .15em solid $color-blue;
  color: $color-black;
  text-decoration: none;
  transition: color .6s;
  cursor: pointer;
  outline: none;
  // color: $color-blue;

  &:hover,
  &:active,
  &:focus {
    color: $color-blue;
  }
}

p {
  margin-top: 10px;
  margin-bottom: 1em;
}

.site {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  // background-image: repeating-linear-gradient(120deg, $color-pink, $color-pink $bg-width1, $color-blue $bg-width1, $color-blue $bg-width2, $color-yellow $bg-width2, $color-yellow $bg-width3);
  // background-image: linear-gradient(90deg, $color-pink, $color-pink $bg-width1, $color-blue $bg-width1, $color-blue $bg-width2);
  background-color: $color-yellow;
  // background-color: $color-pink;


  &:hover,
  &:active {
    animation-play-state: paused;
  }

  @media screen and (max-width: $break-medium) {
    animation-play-state: paused;
    // background-image: repeating-linear-gradient(120deg, $color-pink, $color-pink $bg-mobile-width1, $color-blue $bg-mobile-width1, $color-blue $bg-mobile-width2, $color-yellow $bg-mobile-width2, $color-yellow $bg-mobile-width3);
  }
}

// .site-content_container {
//   background-color: $color-blue;
//   border: 8vw solid $color-blue;
//   border-radius: 5px;
//   transition: all .6s;
//
//   &:hover {
//     border: 7vw solid $color-blue;
//   }
//
//   @media screen and (max-width: $break-small) {
//     border: 0px;
//   }
// }

.site-content {
  position: relative;
  padding: .5em;
  border-radius: 5px;
  transition: all .6s;
  // transform: scale(0.99);
  // box-shadow: 0 2px 10px rgba($color-black, .3);

  &:hover,
  &:active,
  &:focus {
    backface-visibility: hidden;
    // transform: translateZ(0) scale(1.0, 1.0);
    // transform: translateZ(0) scale(1.02, 1.02);
  }

  @media screen and (max-width: $break-small) {
    font-size: $font-medium;
    width: 100%;
    border-radius: 0;
    border: 0px;
  }
}

//smooth box-shadow
.site-content:after {
  content: "";
  border-radius: 5px;
  // box-shadow: 0 5px 20px rgba($color-black, .3);
  // box-shadow: 0 2px 10px rgba($color-black, .3);
  opacity: 0;
  transition: all .6s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.site-content:hover:after,
.site-content:active:after,
.site-content:focus:after {
  opacity: 1;
}

.site-text {
  margin-right: 10px;
  margin-left: 10px;
}

.site-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.site-links a {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#form-contact {
  transition: all .6s;
}

#form-contact input {
  outline: none;
  font-family: inherit;
  color: $color-black;
  background-color: inherit;
  border: none;
  margin-bottom: 1em;
  margin-right: 10px;
  width: 100%;
  border-bottom: .15em solid rgba($color-black, 0.7);
  border-radius: 0;
  transition: all .6s;
  display: block;

  &:focus,
  &:active {
    border-bottom: .15em solid $color-black;
  }
}

#form-contact button[type=submit] {
  color: inherit;
  background-color: inherit;
  border: .15em solid $color-black;
  width: 100%;
  margin-bottom: 1em;
  margin-right: 10px;
  transition: all 1s;
  text-transform: inherit;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    // color: $color-blue;
    // border: .15em solid $color-blue;
    animation: linkPulse 1s ease-in-out 0s infinite alternate;
  }
}

.hidden {
  display: none;
}
