//COLORS
$color-main: #ff5a5f;
$color-black: #2C3E50;
$color-white: #ffffff;
$color-yellow: #ffd923;
$color-pink: #ff9189;
$color-blue: #009bc6;
//SCREEN SIZES
$break-large: 1500px;
$break-medium: 1024px;
$break-small: 690px;
//FONT SIZES
//These font sizes are based upon a 3:4, or .75 scale. Each font size is approximately 75% the size of the larger font size. Please don't use font sizes smaller than 16px as they are difficult to read on smaller screens.
$font-small: 16px;
$font-medium: 21px;
$font-big: 28px;
$font-bigger: 37px;
$font-huge: 50px;
$font-xl: 66px;
$font-xxl: 88px;
