// @import url(https://fonts.googleapis.com/css?family=Open+Sans:800,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
//variables
//COLORS
$color-white: #ffffff;
$color-text: #131313;
$color-text-3: #202533;
$color-text-2: #FFF700;
//SCREEN SIZES
$screen-medium: 1024px;
$screen-small: 600px;
$screen-xs: 370px;
//FONT SIZES
//These font sizes are based upon a 3:4, or .75 scale. Each font size is approximately 75% the size of the larger font size. Please don't use fonts smaller than 16px.
$font-small: 16px;
$font-medium: 21px;
$font-big: 28px;
$font-bigger: 37px;
$font-huge: 50px;

//RULE ON CLASS NAMES: block--element_modifier:state::before, with '-' between words of a class name.
//LIKE SO:
//menu-login--item-button:hover, menu-login--item_hidden, menu--item_error


//PAGE STYLING
html, body {
   height: 100%;
   font-family: "Oswald", sans-serif;
   font-size: $font-small;
   margin: 0;
}

html {
   box-sizing: border-box;
   position: relative;
   min-height: 100%
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   background-color: $color-white;
   color: $color-text-3;
   // text-transform: uppercase;
}

.body--night {
    background-color: $color-text-3;
    color: $color-white;
}

p {
   margin: 0 10px 10px 10px;
   font-weight: bold;
}

.hi {
   min-height: 800px;
   height: 100vh;
   font-size: 800px;
   display: flex;
   align-items: center;
   @media screen and (max-width: $screen-medium) {
      min-height: 200px;
      font-size: 200px;
      height: 50vh;
   }
}

.goodTimeOfDay {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: $screen-medium) {
       display: block;
       font-size: 30px;
       margin-left: 20px;
    }
}

.name {
   margin-left: 50px;
   font-size: 100px;
   align-items: center;
   justify-content: center;
   @media screen and (max-width: $screen-medium) {
      font-size: 50px;
      margin-left: 20px;
   }
}

.contact {
   margin-left: 50px;
   font-size: 80px;
   align-items: center;
   justify-content: center;
   @media screen and (max-width: $screen-medium) {
      display: block;
      font-size: 30px;
      margin-left: 20px;
   }
}

.links {
   margin-left: 50px;
   font-size: 80px;
   align-items: center;
   justify-content: center;
   @media screen and (max-width: $screen-medium) {
      display: block;
      font-size: 30px;
      margin-left: 20px;
   }
   a {
      margin-left: 0;
   }
}

a {
   color: inherit;
}
