.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 800;
}

.purple {
  color: var(--color-purple);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;

  & a {
    text-decoration: none;
  }

  & .home-avi {
    height: 4rem;
    width: auto;
    filter: grayscale(90%);
    transition: all .5s;

    &:hover {
      filter: grayscale(0);
      transition: all .5s;
    }
  }

  & .left {
    line-height: 1.6rem;
  }

  & .right a:first-child {
    margin-right: 2rem;
  }
}

.intro {
  max-width: 37rem;
  margin: 7rem auto;
  padding: 0 2rem;
}

a {
  text-decoration: underline;
  color: var(--color-black);
}

.links a:first-child {
  margin-right: 2rem;
}

.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  & h2, & h3 {
    margin-top: 0;
  }

  & a {
    transition: all .5s;
    opacity: 1;
    text-decoration: none;
    margin-bottom: 5rem;

    &:hover {
      transition: all .5s;
      opacity: .4;
    }
  }

  & .vertigo {

    & video {
      max-width: 100rem;
      width: 90vw;
    }
  }

  & .pmr {

    & video {
      max-width: 80rem;
      width: 90vw;
    }
  }

  & .fender, & .debate {

    & video {
      max-width: 30rem;
      width: 90vw;
    }
  }

  & .babeleir {

    & img {
      max-width: 80rem;
      width: 90vw;
    }
  }
}

.about {
  max-width: 50rem;
  margin: 7rem auto;
  padding: 0 2rem;
  min-height: calc(90vh - 11rem - 4.2rem - 2rem);

  & .me {
    display: block;
    margin: 0 auto 4rem;
  }

  & p {
    margin-bottom: 3rem;
  }

  & .links-icons {
    display: flex;
    align-content: center;

    & a {
      margin-right: 1rem;
    }
  }

  & .links-text {

    & a {
      display: block;
    }
  }
}

footer {
  background-color: #f3f2ed;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem 4rem;
  font-size: 1.2rem;
  height: 11rem;

  & .left, & .right {
    margin-right: 1rem;

    & a {
      display: block;
    }
  }
}

.project {
  min-height: calc(90vh - 11rem - 4.2rem - 2rem);
  margin: 7rem auto;
  padding: 0 2rem;

  & .back {
    text-decoration: none;
    margin-bottom: 2rem;
    display: inline-block;

    & img {
      margin-right: 1rem;
    }
  }

  & .content {

    & .header-image {
      box-shadow: 0 0 2rem 0 rgba(50, 50, 50, .18);
      max-width: 70rem;
      width: 90vw;
      margin-right: 4rem;
    }

    & .extra-image {
      box-shadow: 0 0 2rem 0 rgba(50, 50, 50, .18);
      max-width: 50rem;
      width: 90vw;
      margin-right: 5rem;
    }

    & .description {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;

      & p {
        margin-top: 0;
      }

      & .left, & .right {
        max-width: 40rem;
        margin-right: 30rem;
      }

      & .team, & .brief {

        & h3 {
          margin-top: 0;
        }
      }

      & .link-to-project {
        color: var(--color-purple);
        margin-bottom: 2rem;
        display: inline-block;
      }
    }
  }
}

@media screen and (max-width: 1200px) {

  .project {

    & .content {

      & .description .left, & .description .right {
        margin-right: 20rem;
      }
    }
  }
}

@media screen and (max-width: 700px) {

  .project {

    & .content {

      & .header-image, & .extra-image {
        margin-right: 0;
      }

      & .description .left, & .description .right {
        margin-right: 10rem;
      }
    }
  }
}

@media screen and (max-width: 400px) {

  .project {

    & .content {

      & .description .left, & .description .right {
        margin-right: 1rem;
      }
    }
  }
}
