html {
  filter: blur(0);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 62.5%;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  transform-style: preserve-3d;
  background: var(--color-white);
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  color: var(--color-black);
  font-weight: 400;
  line-height: calc(1.6rem * 1.8);
}

*, *::after, *::before { /* stylelint-disable-line */
  box-sizing: inherit;
}

::selection {
  background: black;
}

.hide {
  display: none;
}
