body,
html {
  filter: blur(0);
  font-family: Montserrat, Arial, sans-serif;
  font-size: 2.3vw;
  font-weight: 900;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  transform-style: preserve-3d;

  @media screen and (max-width: $break-medium) {
    font-size: $font-medium;
  }
}

html {
  box-sizing: border-box;
  height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

::selection {
  background: $color-white;
}
